body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #efefef;
}

nav {
  background-color: lightgrey;
  box-shadow: 0 0 10px #aaa;
  display: flex;
  justify-content: center;

  div {
    align-items: flex-start;
    display: flex;
    // elemek sorrendjét megcseréli
    flex-direction: row-reverse;
    width: 100%;

    // ha legalább 40em széles a screen (640px), akkor a navdiv center
    // a media query mindig azon az elemen belülre kerül, amire vonatkozik
    @media screen and (min-width: 40em) {
      //nav div {
      align-items: center;
    }

    ul {
      display: none; // a ul nem jelenik meg
      flex-direction: column; //mobilon egymás alatt jelenjenek meg
      list-style: none;
      margin: 0 auto;
      padding: 0;
      width: 100%;

      @media screen and (min-width: 40em) {
        //nav div ul {
        display: flex;
        flex-direction: row; // egymás mellé kerülnek
        width: auto;
      }

      li {
        text-align: center;

        a {
          color: #222;
          display: block;
          line-height: 1rem;
          padding: 1rem;
          text-decoration: none; // alláhúzás

          // pszeudo szelektor esetén & jelet kell előtte használni
          &:hover {
            background-color: #efefef;
          }
        }
      }
    }
    input[type="checkbox"] {
      display: none;

      // eredeti
      // ha a checkbox állapota checked (bepipálva) akkor a kövezkező ul-nél állítsa flex-re
      // nav div input[type="checkbox"]:checked + ul {
      //     display: flex;
      // }
      // helyette:
      &:checked + ul {
        display: flex;
      }
    }
    label {
      align-items: center;
      cursor: pointer;
      display: flex;
      height: 1.5rem;
      width: 1.5rem;
      padding: 0.75rem;
      flex-wrap: wrap; //a 3 elem egymás alatt legyen

      @media screen and (min-width: 40rem) {
        display: none;
      }
    }
    span {
      background: #222;
      display: block;
      height: 2px;
      width: 1.5rem;
    }
  }
}
